[submodule "src/nvim"]
	path = src/nvim
	url = https://github.com/neil1050/dotbot-config.git
	branch = config/nvim
[submodule "src/dotbot"]
	path = src/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "dotbot"]
	ignore = dirty
[submodule "src/starship"]
	path = src/starship
	url = https://github.com/neil1050/dotbot-config
	branch = config/starship
[submodule "src/git"]
	path = src/git
	url = https://github.com/neil1050/dotbot-config
	branch = config/git
