[submodule "src/nvim"]
	path = src/nvim
	url = git@github.com:neil1050/nvim-config.git
[submodule "src/dotbot"]
	path = src/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "dotbot"]
	ignore = dirty
